* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background: #f5f6f8;
    color: #333;
    line-height: 1.6;
  }

  header {
    text-align: left;
    padding: 0rem 3rem;
    background: #ffffff;
    color: white;
  }
  
  .logo__section img {
    height: 70px;
    width: 320px;
    margin: 0 0px;
  }



  .ikusi__promo{
    padding: 5rem;
    background: linear-gradient(to bottom, #033f5f , #1717173b), url("../img/Header\ workforce\ password\ m\ LP.jpg") center no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
  }

  @media (max-width: 980px) {
    .ikusi__promo {
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      padding: 1.5rem;
    }
  }
  
  .contenedor__titulo {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .promo-left,
  .promo-right {
    flex: 1 1 400px;
    padding: 1rem;
  }
  
  .promo-left h2 {
    font-size: 2.5rem;
    color: #fff;
  }
  
  .promo-left p {
    margin: 1rem 0;
    color: #02e1b8;
    font-size: 1.2rem;
  }
  
  .security-graphic img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .promo-right h3 {
    font-size: .9rem;
    color: #0f0f0f;
  }
  
  form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    border-top: 10px solid #00a04e;
  }

  form p{
    margin: 1rem 0;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #444;
  }
  
  form button {
    background-color: #00a04e;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .contenedor__titulo {
      flex-direction: column;
    }
  }
  

  /*** Video ***/
  .video-section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f8f9fb;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .video-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #222;
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .brands {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .brands img {
    max-height: 40px;
    object-fit: contain;
  }
  

  /*** Seccion texto ***/
  .ikusi-password-management {
    background-color: #23374b; /* fondo oscuro */
    color: #ffffff;
    padding: 2rem 1rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .ikusi-password-management .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .ikusi-password-management h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #ffffff; /* acento azul IKUSI */
  }
  
  .ikusi-password-management p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #e0e0e0;
  }
  
  @media (max-width: 600px) {
    .ikusi-password-management h2 {
      font-size: 1.4rem;
    }
  
    .ikusi-password-management p {
      font-size: 0.95rem;
    }
  }
  

  /*** Grid ***/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
  .grid-item {
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    padding: 1.5rem;
    /*box-shadow: 0 2px 8px rgba(0,0,0,0.1);*/
  }
  
  .grid-item img {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
  }
  
  .grid-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .grid-item p {
    font-size: 0.95rem;
    color: #666;
  }
  


  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: transparent;
  }
  
  .btn-verde {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-verde:hover {
    background-color: #218838;
  }
  
 /** Grid 02 ***/


  /*** Grid ***/
  .grid__container__dos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .grid-item {
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    padding: 1.5rem;
    /*box-shadow: 0 2px 8px rgba(0,0,0,0.1);*/
    align-items: center;
  }
  
  .grid-item img {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
  }
  
  .grid-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .grid-item p {
    font-size: 0.95rem;
    color: #666;
  }
  


  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: transparent;
  }
  
  .btn-verde {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-verde:hover {
    background-color: #218838;
  }
  


/*** Seccion TI **/
  .seccion-ti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .contenido-texto {
    flex: 1 1 400px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .contenido-texto h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .contenido-imagen {
    flex: 1 1 400px;
    text-align: center;
  }
  
  .contenido-imagen img {
    max-width: 100%;
    height: auto;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .seccion-ti {
      flex-direction: column;
      text-align: center;
    }
  
    .contenido-texto h2 {
      font-size: 1.2rem;
    }
  }
  
  
  /** Card **/
  /* CSS Sección Superior */
.servicio-seguridad {
  background-color: #f9f9f9;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.servicio-contenido {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 30px;
  align-items: center;
}

.servicio-imagen img {
  max-width: 280px;
  height: auto;
  border-radius: 12px;
}

.servicio-texto {
  flex: 1;
}

.servicio-texto h2 {
  font-size: 1.5rem;
  color: #0078d4;
  margin-bottom: 15px;
}

.servicio-texto p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}





/* Estilos generales */



.seccion {
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.seccion__der{
  background-color: #005ea2;
  padding: 2rem;
  color: #fff;
}

.seccion__der h3{
color: #fff !important;
}

.seccion__der p{
  color: #fff !important;
  }

.contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}

/* Imagen */
.imagen img {
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
}

/* Texto */
.texto {
  flex: 1;
  font-family: 'Segoe UI', sans-serif;
}

.texto h2,
.texto h3 {
  color: #0078d4;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.texto p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0078d4;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 15px;
}

.cta-btn:hover {
  background-color: #005ea2;
}

/* Responsive */
@media (max-width: 768px) {
  .contenido {
    flex-direction: column;
    text-align: center;
  }

  .imagen img {
    max-width: 100%;
  }

  .texto h2,
  .texto h3 {
    font-size: 1.3rem;
  }
}

